<div class="background">
  <canvas #confettiCanvas style="position: fixed; width: 100%; z-index: -1"></canvas>
  <div class="grid-container">
    <ng-container *ngFor="let f of flipCards; let i = index">
      <app-flip-card [flipCardModel]="f" (cardClicked)="flipCardClicked($event, i)"></app-flip-card>
    </ng-container>
  </div>

  <div class="footer">
    <div class="div">
      <p>Trouvée(s): {{winningFlipCards.length}} / {{flipCards.length / 2}}</p>
    </div>
    <div class="div">
      <button (click)="newGame()">Nouvelle Partie</button>
    </div>
  </div>
</div>


